@import 'tailwindcss';
@import '@madrasah/tokens/css';


@font-face {
  font-family: "UthmanNaskh";
  src: url("/apps/tedris/public/fonts/uthman/uthman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}